
body{
  background-color: #000000;
    font-style: normal; 
    font-family: arial,
}
h2{
  text-align: center;
  font-size: 40px;
  color: rgb(255, 8, 111);
}

h3{
  color: rgb(255, 255, 255);
}

p {
  font-size: 19px;
  color: white;
}

.imagemC {
  background:  #000000;
  padding: 10px;
}
h1 {
  text-align: center;
  color:rgb(195, 0, 255);
}

h3{
  color: white;
}

.teste {
  width: 45%;
}

.container img { max-width: 400px;}
.container {
  width: 500px;
  height: 60px;
  display: flex;
  vertical-align: top;
  margin-top: 50px;
  position: absolute;
}

.row {
  margin-left: 60px;
}

.card-img-top {
    margin: auto;
    display: block;
}
